<img class="brand-logo img-fluid" src="/images/logos/avail-logo.png" alt="Avail">
<h2>Freeing Phosphate</h2>
<p>The patented technology in AVAIL® HV frees up to 45% more phosphorus to be absorbed by the plant to speed early growth, improve crop quality and boost yields. AVAIL HV minimizes the effects of chemical elements in the soil that interfere with phosphorus availability.</p>
<ul>
    <li>Reduces phosphorus loss to the environment</li>
    <li>Proven performance on potatoes, other vegetables, fruits and specialty crops</li>
    <li>Flexible and highly compatible application options</li>
</ul>