<img class="brand-logo img-fluid" src="/images/logos/nexia-logo.png" alt="Nexia">
<h2>The next generation in soil health</h2>
<p>NEXIA™ is a blend of Plant Growth Promoting Rhizobacteria (PGPRs) formulated to enhance fertilizer applications. These bacteria live in the rhizosphere, the area in and around the plant roots, and work together to improve the soil, enhance plant growth and increase crop yields.</p>
<ul>
    <li>Microbial innoculant that blends easily with almost any product</li>
    <li>Enhances plant health on a wide range of crops, including potatoes</li>
    <li>Improves root architecture leading to improved early plant growth</li>
</ul>