<img class="brand-logo img-fluid" src="/images/logos/oneup-logo.png" alt="OneUP">
<h2>A better nutrient blend</h2>
<p>OneUP™ is a proprietary nutrient formulation with a high-grade liquid plant bio-stimulant and soil builder. It combines low salt liquid nutrients with advanced photosynthesis and nutrient assimilation technologies to increase plant yields and grower profitability.</p>
<ul>
    <li>Helps prevent clogged nozzles with a clean, soluble formulation and small particle size</li>
    <li>Can be used on or near the seed in early season in-furrow applications</li>
    <li>Highest organic acid load for greater nutrient absorption</li>
</ul>