<img class="brand-logo img-fluid" src="/images/logos/tolero-logo.png" alt="Tolero">
<h2>Make every drop count</h2>
<p>TOLERO™ is an irrigation injection surfactant that increases soil water availability and improves soil water holding capacity. TOLERO conserves water with a unique blend of water management technologies that help disperse and hold water in the root zone.</p>
<ul>
    <li>Increases water availability in the root zone for up to three to four weeks</li>
    <li>Improves water retention to help minimize potential crop stress</li>
    <li>Reduces irrigation duration and increases intervals between watering</li>
</ul>