<div class="box box-primary">
    <div class="box-body" ng-controller="widgetsIndexController">
        <div class="btn-group">
            <a href="/admin/widgets/#!/create" class="btn btn-primary">add widget</a>
        </div>
        <table ng-init="index()" id="" class="table table-bordered table-hover">

            <thead>
                <tr>
                    <th>ID <ohio-column-sorter uri="/admin/widgets/#!/index" order-by="widgets.id"></ohio-column-sorter></th>
                    <th>Name <ohio-column-sorter uri="/admin/widgets/#!/index" order-by="widgets.name"></ohio-column-sorter></th>
                    <th class="text-right">Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr id="widget-index-{{ widget.id }}" ng-hide="loading" ng-repeat="widget in widgets.data">
                    <td>{{ widget.id }}</td>
                    <td>{{ widget.name }}</td>
                    <td class="text-right">
                        <a class="btn btn-xs btn-warning" href="/admin/widgets/#!/edit/{{ widget.id }}"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-xs btn-danger" ng-click="destroy(widget.id)" href="/admin/widgets/#!/index"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>

            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th class="text-right">Actions</th>
                </tr>
            </tfoot>
        </table>
        <div class="row">
            <div class="col-xs-5">
                <div class="dataTables_info" role="status" aria-live="polite">
                    Showing {{ widgets.from }} to {{ widgets.to }} of {{ widgets.total }} entries
                </div>
            </div>
            <div class="col-xs-7">
                <div class="dataTables_paginate paging_simple_numbers">
                    <ul uib-pagination
                        class="pagination-sm"
                        ng-change="pageChanged()"
                        ng-model="criteria.page"
                        force-ellipses="true"
                        max-size="5"
                        boundary-links="true"
                        template-url="/client/vendor/angular-ui-bootstrap/template/pagination/pagination.html"
                        total-items="widgets.total"
                        items-per-page="criteria.perPage"
                    >
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>