$font-family-base:          "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$headings-font-family:      $font-family-base;
$headings-font-weight:      400 !default;


$potato-pine: rgb(40, 78, 54); //#284e36
$potato-darkish-green: rgb(60, 138, 46); //#3c8a2e
$potato-silver: rgb(195, 200, 200); //#c3c8c8
$potato-greyish-brown: rgb(103, 92, 83); //#675c53
$potato-golden: rgb(235, 183, 0); //#ebb700


// Color system
$theme-colors: (
    "potato-pine": $potato-pine,
    "potato-darkish-green": $potato-darkish-green,
    "potato-silver": $potato-silver,
    "potato-greyish-brown": $potato-greyish-brown,
    "potato-golden": $potato-golden,
);