<!-- LOADING ICON =============================================== -->
<!-- show loading icon if the loading variable is set to true -->
<p class="text-center" ng-show="loading"><span class="fa fa-meh-o fa-5x fa-spin"></span></p>

<!-- THE USERS =============================================== -->
<!-- hide these users if the loading variable is true -->

<table id="" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th class="text-right">Actions</th>
    </tr>
    </thead>
    <tbody>

    <tr id="user-index-{{ user.id }}" ng-hide="loading" ng-repeat="user in users.data">
        <td>{{ user.id }}</td>
        <td><a href="/admin/users/{{ user.id }}">{{ user.email }}</a></td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td class="text-right">
            <a class="btn btn-xs btn-info" href="/admin-user/{{ user.id }}"><i class="fa fa-bars"></i></a>
            <a class="btn btn-xs btn-info" href="/admin/users/#!edit/{{ user.id }}"><i class="fa fa-star"></i></a>
            <a class="btn btn-xs btn-warning" href="/admin/users/{{ user.id }}"><i class="fa fa-edit"></i></a>
            <a class="btn btn-xs btn-danger" ng-click="destroy(user.id)" href="#"><i class="fa fa-trash"></i></a>
        </td>
    </tr>

    </tbody>
    <tfoot>
    <tr>
        <th>ID</th>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th class="text-right">Actions</th>
    </tr>
    </tfoot>
</table>
<div class="row">
    <div class="col-xs-5">
        <div class="dataTables_info" id="" role="status" aria-live="polite">
            Showing {{ users.meta.pagination.from }} to {{ users.meta.pagination.to }} of {{ users.meta.pagination.total }} entries
        </div>
    </div>
    <div class="col-xs-7">
        <div class="dataTables_paginate paging_simple_numbers" id="">

        </div>
    </div>
</div>