<div class="box box-primary">
    <div class="box-body" ng-controller="usersIndexController">
        <div class="btn-group">
            <a href="/admin/ohio/core/#!/users/create" class="btn btn-primary">add user</a>
        </div>
        <table ng-init="index()" id="" class="table table-bordered table-hover">

            <thead>
                <tr>
                    <th>ID <ohio-column-sorter uri="/admin/ohio/core/#!/users/index" order-by="users.id"></ohio-column-sorter></th>
                    <th>Email <ohio-column-sorter uri="/admin/ohio/core/#!/users/index" order-by="users.email"></ohio-column-sorter></th>
                    <th>First Name <ohio-column-sorter uri="/admin/ohio/core/#!/users/index" order-by="users.first_name"></ohio-column-sorter></th>
                    <th>Last Name <ohio-column-sorter uri="/admin/ohio/core/#!/users/index" order-by="users.last_name"></ohio-column-sorter></th>
                    <th class="text-right">Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr id="user-index-{{ user.id }}" ng-hide="loading" ng-repeat="user in users.data">
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td class="text-right">
                        <a class="btn btn-xs btn-warning" href="/admin/ohio/core/#!/users/edit/{{ user.id }}"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-xs btn-danger" ng-click="destroy(user.id)" href="/admin/ohio/core/#!/users/index"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>

            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th class="text-right">Actions</th>
                </tr>
            </tfoot>
        </table>
        <div class="row">
            <div class="col-xs-5">
                <div class="dataTables_info" role="status" aria-live="polite">
                    Showing {{ users.from }} to {{ users.to }} of {{ users.total }} entries
                </div>
            </div>
            <div class="col-xs-7">
                <div class="dataTables_paginate paging_simple_numbers">
                    <ul uib-pagination
                        class="pagination-sm"
                        ng-change="pageChanged()"
                        ng-model="criteria.page"
                        force-ellipses="true"
                        max-size="5"
                        boundary-links="true"
                        template-url="/client/vendor/angular-ui-bootstrap/template/pagination/pagination.html"
                        total-items="users.total"
                        items-per-page="criteria.perPage"
                    >
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>